<!-- Title Bar -->
@if (isAuthenticated) {
  <div>
    <!-- Main Toolbar with Menu Button -->
    <mat-toolbar
      color="primary"
      class="main-toolbar"
      [ngClass]="{ scrolled: isScrolled }"
      >
      <button
        mat-icon-button
        aria-label="Toggle sidenav"
        (click)="drawer.toggle()"
        >
        <mat-icon>menu</mat-icon>
      </button>
      <span>{{ title }}</span>
    </mat-toolbar>
    <!-- Sidenav Container -->
    <mat-sidenav-container class="sidenav-container">
      <!-- Side Navigation Drawer -->
      <mat-sidenav #drawer mode="side" [(opened)]="opened" class="sidenav">
        <mat-nav-list>
          <a mat-list-item routerLink="/">Home</a>
          <a mat-list-item routerLink="/about">About</a>
          <a mat-list-item routerLink="/services">Services</a>
          <a mat-list-item routerLink="/contact">Contact</a>
        </mat-nav-list>
      </mat-sidenav>
      <!-- Main Content Area -->
      <mat-sidenav-content>
        <!-- Your content goes here -->
        <div class="main-content">
          <router-outlet></router-outlet>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
} @else {
  <router-outlet></router-outlet>
}

