/* Styles for the layout */
/* .sidenav-container {
  height: 100vh;
} */

.main-toolbar {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
  /* Add background for better visibility */
  background-color: rgba(255, 255, 255, 1); 
}

.main-toolbar.scrolled {
  background-color: rgba(255, 255, 255, 0.7); /* Transparent when scrolled */
  backdrop-filter: blur(8px); /* Blur effect */
  -webkit-backdrop-filter: blur(8px); /* Support for Safari */
}

.mat-sidenav-content {
  /* Push content below the fixed toolbar */
  padding-top: 64px; /* Adjust this value based on toolbar height */
  padding: 20px;
  /* height: calc(100vh - 64px); */
  overflow-y: auto;
}

.sidenav {
  width: 250px;
}

/* Optional: main content styling */
.main-content {
  padding: 16px;
}
