

<div class="container" fxLayout="row" fxLayoutAlign="center center" >
  <div class="box" fxLayout="row" fxLayoutAlign="center center">
    <form
      class="login-form"
      [formGroup]="signInForm"
      (ngSubmit)="onSubmit()"
      fxLayout="column"
      fxLayoutAlign="center center"
      fxLayoutGap="10px"
    >
      <mat-form-field fxFlexFill>
        <mat-label>Enter your name</mat-label>
        <input
          matInput
          placeholder="Ex. Jaimin Patel"
          type="name"
          formControlName="name"
          [errorStateMatcher]="matcher"
        />
        <mat-icon matPrefix>person</mat-icon>
        @if (signInForm.controls['name'].hasError('minlength') &&
        !signInForm.controls['name'].hasError('required')) {
        <mat-error>Please enter a valid name.</mat-error>
        } @if (signInForm.controls['email'].hasError('required')) {
        <mat-error>Name is <strong>required.</strong></mat-error>
        }
      </mat-form-field>
      <div fxLayout="row" fxLayoutAlign="center space-between" fxFill fxLayoutGap="10px">
        <mat-form-field fxFlex="50">
          <mat-label>Enter your Email</mat-label>
          <input
            matInput
            placeholder="Ex. Nik@gmail.com"
            type="email"
            formControlName="email"
            [errorStateMatcher]="matcher"
          />
          <mat-icon matPrefix>mail</mat-icon>
          @if (signInForm.controls['email'].hasError('email') &&
          !signInForm.controls['email'].hasError('required')) {
          <mat-error>Please enter a valid email address</mat-error>
          } @if (signInForm.controls['email'].hasError('required')) {
          <mat-error>Email is <strong>required</strong></mat-error>
          }
        </mat-form-field>
        <mat-form-field fxFlex="50">
          <mat-label>Enter your phone no.</mat-label>
          <!-- <app-tel-input formControlName="tel" ></app-tel-input> -->
          <input
            matInput
            placeholder="Ex. 94*****445"
            type="tel"
            formControlName="tel"
            [errorStateMatcher]="matcher"
          />
          <mat-icon matPrefix>call</mat-icon>

          @if (signInForm.controls['tel'].hasError('required')) {
          <mat-error>Phone number is <strong>required</strong></mat-error>
          }
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutAlign="center space-between" fxFill fxLayoutGap="10px">
        <!-- <mat-form-field fxFlex="50"> -->
          <div fxLayout="column"  fxLayoutAlign="space-between center" fxFlex="50" fxLayoutGap="10">
          <mat-label>Enter your gender</mat-label>
          <mat-radio-group
          aria-label="Select an option"
          formControlName="gender"
          fxLayout="row"
          >
            <mat-radio-button value="male">male</mat-radio-button>
            <mat-radio-button value="female">female</mat-radio-button>
          </mat-radio-group>

          @if (signInForm.controls['gender'].hasError('required')) {
          <mat-error>Gender is <strong>required</strong></mat-error>
          }
        </div>
        <!-- </mat-form-field> -->
        <mat-form-field fxFlex="50">
          <mat-label>Enter your gardiean no.</mat-label>
          <!-- <app-tel-input formControlName="tel" ></app-tel-input> -->
          <input
            matInput
            placeholder="Ex. 94*****445"
            type="tel"
            formControlName="emergency"
            [errorStateMatcher]="matcher"
          />
          <mat-icon matPrefix>call</mat-icon>

          @if (signInForm.controls['emergency'].hasError('required')) {
          <mat-error>Emergency number is <strong>required</strong></mat-error>
          }
        </mat-form-field>
      </div>
      <!-- <mat-form-field>
          <input
            matInput
            placeholder="Password"
            [type]="hide ? 'password' : 'text'"
            formControlName="password"
            required
            [errorStateMatcher]="matcher"
          />
          <mat-icon matSuffix (click)="hide = !hide">{{
            hide ? "visibility_off" : "visibility"
          }}</mat-icon>
          @if (signInForm.controls['password'].hasError('required')){
          <mat-error>Enter your password</mat-error>
          }
        </mat-form-field> -->
      <button mat-flat-button type="submit" style="width: 100%">Login</button>
    </form>
  </div>
  <!-- login image -->
  <!-- <img src="" alt=""> -->
</div>
