<div class="container flex justify-center items-center">
  <div class="box flex justify-center items-center">
    <form
      class="login-form w-full max-w-md space-y-4"
      [formGroup]="signInForm"
      (ngSubmit)="onSubmit()"
    >
      <div class="mb-4">
        <label for="name" class="block text-lg">Enter your name</label>
        <input
          id="name"
          class="mt-2 p-2 border border-gray-300 rounded w-full"
          placeholder="Ex. Jaimin Patel"
          type="text"
          formControlName="name"
        />
        <mat-icon matPrefix>person</mat-icon>
        <div *ngIf="signInForm.controls['name'].hasError('minlength') && !signInForm.controls['name'].hasError('required')">
          <mat-error>Please enter a valid name.</mat-error>
        </div>
        <div *ngIf="signInForm.controls['name'].hasError('required')">
          <mat-error>Name is <strong>required</strong></mat-error>
        </div>
      </div>

      <div class="flex space-x-4">
        <div class="flex-1">
          <label for="email" class="block text-lg">Enter your Email</label>
          <input
            id="email"
            class="mt-2 p-2 border border-gray-300 rounded w-full"
            placeholder="Ex. Nik@gmail.com"
            type="email"
            formControlName="email"
            />
            <!-- [errorStateMatcher]="matcher" -->
          <mat-icon matPrefix>mail</mat-icon>
          <div *ngIf="signInForm.controls['email'].hasError('email') && !signInForm.controls['email'].hasError('required')">
            <mat-error>Please enter a valid email address</mat-error>
          </div>
          <div *ngIf="signInForm.controls['email'].hasError('required')">
            <mat-error>Email is <strong>required</strong></mat-error>
          </div>
        </div>

        <div class="flex-1">
          <label for="tel" class="block text-lg">Enter your phone no.</label>
          <input
            id="tel"
            class="mt-2 p-2 border border-gray-300 rounded w-full"
            placeholder="Ex. 94*****445"
            type="tel"
            formControlName="tel"
            />
            <!-- [errorStateMatcher]="matcher" -->
          <mat-icon matPrefix>call</mat-icon>
          <div *ngIf="signInForm.controls['tel'].hasError('required')">
            <mat-error>Phone number is <strong>required</strong></mat-error>
          </div>
        </div>
      </div>

      <div class="flex space-x-4">
        <div class="flex-1">
          <label for="gender" class="block text-lg">Enter your gender</label>
          <div class="flex items-center space-x-4">
            <mat-radio-group
              aria-label="Select an option"
              formControlName="gender"
            >
              <mat-radio-button value="male">male</mat-radio-button>
              <mat-radio-button value="female">female</mat-radio-button>
            </mat-radio-group>
          </div>
          <div *ngIf="signInForm.controls['gender'].hasError('required')">
            <mat-error>Gender is <strong>required</strong></mat-error>
          </div>
        </div>

        <div class="flex-1">
          <label for="emergency" class="block text-lg">Enter your guardian no.</label>
          <input
            id="emergency"
            class="mt-2 p-2 border border-gray-300 rounded w-full"
            placeholder="Ex. 94*****445"
            type="tel"
            formControlName="emergency"
            />
            <!-- [errorStateMatcher]="matcher" -->
          <mat-icon matPrefix>call</mat-icon>
          <div *ngIf="signInForm.controls['emergency'].hasError('required')">
            <mat-error>Emergency number is <strong>required</strong></mat-error>
          </div>
        </div>
      </div>

      <button
        mat-flat-button
        type="submit"
        class="w-full py-3 bg-blue-500 text-white rounded hover:bg-blue-600"
      >
        Login
      </button>
    </form>
  </div>
</div>
