.spacer {
  flex: 1 1 auto;
}

.hero-section{
  padding: 6rem 2rem;
  // text-align: center;
  display: flex;
  align-items: start;
  flex-direction: column;
  // background-color: var(--mat-bottom-sheet-container-background-color);
  background: var(--sys-surface-container-highest);
  border-radius: 16px;
  overflow: hidden;
  // color: ;
}
.gradient-text {
  background: linear-gradient(to right, var(--sys-primary), var(--sys-secondary));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.background-circle{
  // padding: 10px ;
  width: 55px;
  height: 55px;
  color: var(--sys-primary-container);
  background: var(--sys-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: larger;
  margin: 15px 0;
}
.stats{
  margin: 0 auto;
  margin-top: 1rem;
  display: flex;
  width: 100%;
  text-align: center;
  // overflow-x: scroll;
  // flex-direction: row;
  align-items: center;
  
  justify-content: center;
}
.stat-item {
  // margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  // max-width: 300px;
  padding: 1rem;
  border-radius: 8px;
  height: auto;
}

.features-section{
  padding: 4rem 2rem;
  text-align: center;
  background: var(--sys-surface-container-highest);
  border-radius: 16px;
}
// ::ng-deep {
//   mat-toolbar {
//     padding: 10px 20px;
//   }

//   .app-title {
//     font-size: 20px;
//   }


//   .login-btn {
//     margin-right: 10px;
//   }

//   .main-card {
//     width: 50%;
//     margin: 20px auto;
//     padding: 20px;
//   }

//   .appointment-form {
//     display: flex;
//     flex-direction: column;
//   }

//   mat-form-field {
//     margin-bottom: 20px;
//   }

//   mat-slide-toggle {
//     margin-top: 20px;
//   }

//   .dark-theme {
//     background-color: #121212;
//     color: #fff;
//   }
// }
// :host {
//   display: block;
// }

// .dark-theme {
//   background-color: #121212;
//   color: white;
// }

// .mat-toolbar.scrolled {
//   background: rgba(0, 0, 0, 0.7) !important;
//   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
// }

// .spacer {
//   flex: 1 1 auto;
// }

// .hero-section {
//   padding: 6rem 2rem;
//   text-align: center;
// }

// .hero-buttons {
//   margin-top: 2rem;
//   display: flex;
//   justify-content: center;
//   gap: 1rem;
// }

// .gradient-text {
//   background: linear-gradient(to right, #3b82f6, #8b5cf6);
//   -webkit-background-clip: text;
//   -webkit-text-fill-color: transparent;
// }

// .features-section {
//   padding: 4rem 2rem;
//   text-align: center;
// }

// .features-grid {
//   display: grid;
//   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
//   gap: 2rem;
//   margin-top: 2rem;
// }

// .feature-card mat-icon {
//   font-size: 40px;
//   color: #3b82f6;
// }

// .stat-item {
//   margin-top: 1rem;
// }
