/* .login-form {
    min-width: 150px;
    max-width: 800px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 100vh;
    min-height: 100%;
    }
  
  .example-full-width {
    width: 100%;
    max-width: 350px;
  }
  .container img{
    width: 50%;
    min-height: 100vh;
    max-height: 100%;
    object-fit: cover;
    position: relative;
  }
  .container img::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 220px;
    height: 100px;
    background: rgb(243, 0, 0);
  }

  .container .box{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .container .box {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  } */