// Import Angular Material theming functions
@use '@angular/material' as mat;

// Define your custom color variables
$primary: #00664D;
$secondary: #4C6359;
$tertiary: #3F6375;
$neutral: #F5F1E8;
$neutral-variant: #A8B2A1;
$error: #D32F2F;

// Define the custom theme using Material 3's define-light-theme function
$my-theme: mat.define-light-theme((
  color: (
    primary: $primary,
    secondary: $secondary,
    tertiary: $tertiary,
    error: $error,
    neutral: $neutral,
    neutral-variant: $neutral-variant
  ),
));

// Apply the theme to all components
@include mat.all-component-themes($my-theme);
