// ✅ ALL @use go first
@use '../m3-theme.scss' as *;
@use '@angular/material' as mat;

@import "tailwindcss"; 
// ✅ Then Tailwind

// @tailwind base;
// @tailwind components;
// @tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--mat-app-background-color);
  color: var(--mat-app-text-color);
}
@custom-variant dark (&:where(.dark, .dark *));

.dark {
  @include mat.all-component-themes($dark-theme);
}