<p>chatbot works!</p>
<div class="chat-window">
    <div class="messages" *ngFor="let message of messages">
      <p [ngClass]="{'user-message': message.isUser, 'bot-message': !message.isUser}">
        {{ message.text }}
      </p>
    </div>
    <mat-form-field class="example-form-field">
        <mat-label>Say Hi 👋 </mat-label>
        <input matInput type="text" [(ngModel)]="userInput" style="width: 100%">
        @if (userInput) {
          <button matSuffix mat-icon-button aria-label="Clear" (click)="handleUserInput()">
            <mat-icon>send</mat-icon>
          </button>
        }
      </mat-form-field>
    <!-- <input [(ngModel)]="userInput" (keyup.enter)="handleUserInput()" placeholder="Type your message">
    <button (click)="handleUserInput()">Send</button> -->
  </div>
  